<div class="container">
  <h1>ANGULAR + ASP.NET CODE CRUD</h1>

  <div class="cards-container">
    <div class="cards-form">
      <form>
        <div class="form-group">
          <label for="">Card Name</label>
          <input type="text" name="cardName" value="{{card.cardHolderName}}" [(ngModel)]="cardHolderName">
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
          <input type="text" name="cardNumber" value="{{card.cardNumber}}" [(ngModel)]="cardNumber">
        </div>
        <div class="form-group form-group-inline">
          <div>
          <label for="">CVC</label>
          <input type="text" name="cvc" value="{{card.cvc}}" [(ngModel)]="cvc">
          </div>

          <div>
            <label for="">Expiry Month</label>
            <input type="text" name="expiryMonth" value="{{card.expiryMonth}}" [(ngModel)]="expiryMonth">
          </div>

            <div>
              <label for="">Expiry Year</label>
              <input type="text" name="expiryYear" value="{{card.expiryYear}}" [(ngModel)]="expiryYear">
            </div>
        
          </div>
          <div class="form-group">
            <button (click)="updateCard(card)" class="btn btn-primary">Save</button>
            <button (click)="addCard()" class="btn btn-primary" type="submit">
              Add
          </button>
          </div>
      </form>
    </div>
    <div class="cards-info">
    <div class="cards-grid" *ngFor="let dataItem of CardsList">
      <div class="card-row">
        <div class="card-row-details">
          <ul class="cardsList" (click)="getCardHolderName(dataItem)">
            <li>{{dataItem.id}}: {{dataItem.cardHolderName}}</li>            
          </ul>    
        </div>
        <div class="card-row-action">
        <button class="fa-solid fa-trash-can" (click)="deleteClick(dataItem)"></button>
        </div>



      </div>
    </div>
    </div>
  </div>
</div>